/package-lock.json
/*.pem
.terraform
/k8sresources/imports/
.env
.idea/.gitignore
.idea/infrastructure-resources.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/
generated_code/
infrastructure_resources/k8s_stack.pem
venv/